* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: inter, sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}
p {
    line-height: 1.6;
    margin: 12px 0;
}

/* ********* header ************* */
header {
    width: 100%;
    background: rgba(1, 25, 134, 0.8);
    color: #fff;
    padding: 12px 0;
    opacity: 8;
}

.logo-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-wrapper h2 {
    font-size: 16px;
}

.logo {
    width: 50px;
}
.logo img {
    width: 100%;
    border-radius: 8px;
}

/* ********* hero ************* */
.hero {
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(
            rgba(9, 2, 110, 0.8),
            rgba(9, 2, 110, 0.9)
        ),
        url("./images/image-6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.hero h1 {
    font-size: 40px;
}

.btn-primary {
    width: 20%;
    padding: 12px;
    margin: 0 auto;
    color: #fff;
    background: orangered;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    transform: transform 0.5s ease-in;
    cursor: pointer;
}
.btn-primary:hover {
    transform: scale(1.1);
}

/* ******** intro ********* */
.intro {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.intro p {
    line-height: 1.7;
}
.spacing {
    margin: 3rem auto;
}
.text-container {
    width: 50%;
}
.image-container {
    width: 60%;
}

/* ******** Why JTB ********* */
.why-jtb {
    width: 100%;
    color: #fff;
    padding: 2rem 0;
    background-image: linear-gradient(
            rgba(9, 2, 110, 0.6),
            rgba(9, 2, 110, 0.5)
        ),
        url("./images/image-8.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-jtb-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.why-jtb img {
    border-radius: 8px;
}
ul li {
    margin: 10px 0;
    line-height: 1.7;
    list-style: inside;
}

/* ******** How it works ********* */

.how-it-works {
    width: 80%;
    margin: 3rem auto;
}
.how-it-works-cont {
    width: 100%;
    padding: 20px 0;
}

ol li {
    margin: 10px 0;
    line-height: 1.7;
    list-style: inside;
    list-style-type: decimal;
}

/* ******** Why Choose Us ********* */

.why-choose-us {
    width: 100%;
    margin: 3rem 0;
}
.why-choose-us-cont {
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

/* ******** Testimonial/Projects ********* */
.testimonials {
    width: 80%;
    margin: 3rem auto;
}
.testimonials h1 {
    margin-bottom: 16px;
}
.testimonials h3 {
    margin-top: 16px;
    color: #646363;
    text-align: center;
}
.testimonials p {
    text-align: center;
}
.project_items-container {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.scroll_items-container {
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.scroll_items-container div {
    width: 400px;
    min-width: 500px;
    height: 300px;
    display: flex;
    gap: 10px;
    padding: 6px;
    flex: none;
}

.scroll_items-container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 4px 8px 0px;
}
.scroll_items-container::-webkit-scrollbar {
    display: none;
}
.page-title-box {
    height: 50px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.prev,
.next {
    width: 40px;
    height: 40px;
    background: rgb(88, 154, 253);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.prev:hover,
.next:hover {
    background: rgb(209, 227, 248);
}
.handle-btn {
    text-align: center;
}

/* ******** faqs ********* */
.faqs {
    width: 100%;
    background-color: #f9f9f9;
    padding: 2rem 0;
}
.faqs-container {
    width: 80%;
    margin: 40px auto;
}

.faqs h1 {
    margin-bottom: 16px;
}

.faq {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.answer {
    display: none;
    /* margin-top: 10px; */
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.answer.show {
    display: block;
}

/* ******** COnclusion ********* */
.conclusion {
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}
/* ******** Footer ********* */
.footer {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(
            rgba(9, 2, 110, 0.8),
            rgba(9, 2, 110, 0.9)
        ),
        url("./images/image-10.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
/* ******** MEDIA QUERY ********* */
@media (max-width: 750px) {
    p,
    li {
        font-size: 16px;
    }
    .logo-wrapper {
        width: 90%;
    }
    .hero {
        padding: 20px;
    }
    .hero h1 {
        font-size: 32px;
    }
    .btn-primary {
        width: 60%;
    }
    .intro,
    .why-jtb-container {
        width: 90%;
        flex-direction: column;
        gap: 2rem;
    }
    .intro {
        padding: 0 20px;
    }
    .intro,
    img,
    p,
    .why-jtb-container img,
    p {
        width: 100%;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-container,
    .image-container {
        width: 100%;
    }

    .why-choose-us-cont,
    .how-it-works {
        width: 90%;
    }

    .testimonials {
        width: 90%;
    }

    .project_items-container {
        width: 100%;
    }

    .scroll_items-container div {
        width: 95%;
        min-width: 250px;
        height: 250px;
    }
    .scroll_items-container div img {
        width: 100%;
    }

    .faqs-container {
        width: 90%;
    }
}

/* ********* custom classes ************* */
.w-10 {
    width: 100%;
}
.w-8 {
    width: 80%;
}
.w-5 {
    width: 50%;
}

.bg-grey {
    background-color: #f9f9f9;
}
